Temp/
/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.apk
/Assets/SSAO*
/Assets/AmplifyMotion

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.settings
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
